/* Basic Styling */
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* NavBar */

.collapse {
  margin-left: 45%;
  overflow: hidden;
}
.navbar-nav .nav-link {
  margin-right: 15px;
}
.navbar-brand img {
  height: 100px;
}
.nav-link {
  font-size: 22px;
}
.icon img {
  height: 300px;
}
.icon {
  justify-content: center;
  display: flex;
  padding-top: 100px;
}
.navbar {
  background-color: transparent;
  padding: 0;
}
.navbar-brand {
  margin-right: 0;
}
.welcome {
  text-align: center;
}
.quotes {
  text-align: center;
}
.clg {
  text-align: center;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

/* Home */

#home {
  height: 90vh;
}
.icon img,
.welcome h4,
.welcome h2,
.clg h4,
.clg h2,
.quotes h3,
p,
.welcome,
.quotes,
.clg {
  text-align: center;
}

.icon img,
.welcome,
.clg,
.quotes {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.welcome,
.clg,
.quotes {
  text-align: center;
}
.welcome h2,
.clg h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.quotes h3 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.quotes p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* About Club */

#about-club {
  height: 80vh;
  text-align: center;
}
#about-club p {
  margin: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#about-club img {
  height: 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#popup1 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  #popup1 {
    width: 90%;
  }
}
#popup2 img {
  height: 50vh;
}

#popup2 {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%; 
  max-width: 600px; 
  padding: 20px;
  border-radius: 10px;
}

.popup-content img {
  max-width: 100%; 
  height: auto; 
}

@media only screen and (max-width: 768px) {
  #popup2 {
    width: 90%;
  }
}

#popup3 {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%; 
  max-width: 600px; 
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto; 
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  flex: 0 0 calc(50% - 20px); 
  margin: 10px; 
}

@media only screen and (max-width: 768px) {
  #popup3 {
    width: 90%; 
  }

  .profile {
    flex: 0 0 calc(100% - 20px);
  }
}

/* Institution */


#institution h2 {
  text-align: center;
}
.image-container {
  margin-top: 20px;
}
#institution img {
  width: 100%;
  height: auto;
}



/* Events */

#events {
  text-align: center;
}
.carousel-inner {
  height: 80vh;
}

#carouselExampleControls .carousel-item img {
  max-width: 100%; 
  height: 400px; 
  object-fit: contain; 
}

@media only screen and (min-width: 1023px) {
  #carouselExampleControls .carousel-item img {
    background-color: black;
  }
}



/* Gallery */



.gallery-container {
  padding: 0 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform .2s; 
  margin: 0 auto;
}

.gallery img:hover {
  transform: scale(3.5); 
}

#loadMoreBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#loadMoreBtn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .gallery {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}


.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 50px;
left: 0;
top: 40px;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
margin: auto;
display: block;
max-width: 80%;
max-height: 90%;
}

.close {
position: absolute;
top: 60px;
right: 25px;
color: white;
font-size: 35px;
font-weight: bold;
cursor: pointer;
}

.close:hover,
.close:focus {
color: #999;
text-decoration: none;
cursor: pointer;
}





/* Footer */

#contact {
  height: 50vh;
  text-align: center;
}
.social-media {
  height: 20px;
  padding-right: 10px;
}
.adress {
  height: 250px;
  justify-content: center;
  align-items: center;
  display: block;
}
.adress img {
  height: 30px;
}
.adress p {
  text-align: left;
  margin-left: 25%;
}
.contactfoot {
  height: 250px;

  align-items: center;
  display: block;
}
.contactfoot img {
  height: 20px;
}
.contactfoot h3 {
  margin-left: 0%;
}
.contactfoot ul {
  list-style-type: none;
}
.contact-icons li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-icons li img {
  margin-right: 10px;
}

.contact-icons {
  margin-left: 20%;
}
.contact-icons li a {
  color: inherit;
  text-decoration: none;
}
.copyrights {
  padding-bottom: 15px;
}
